{{#each todos }}
<div class="todo">
    {{content}}
    <div class="button-grid">
        <form method="post" action="todo/{{_id}}?_method=DELETE">
            <button type="submit" class="button remove">
                <i class="fa fa-trash"></i>
            </button>
        </form>
        <form method="post" action="todo/{{_id}}?_method=PUT">
            <button type="submit" class="button edit">
                <i class="fa fa-pencil"></i>
            </button>
        </form>
    </div>
</div>
{{/each}}