{{#if inputValue}}

<form method="post" action="/todo/{{todoID}}?_method=PATCH" autocomplete="off" class="form">
    <input type="text" name="content" value="{{inputValue}}">
    <button type="submit">EDIT</button>
</form>

{{else}}

<form method="post" action="/todo" autocomplete="off" class="form">
    <input type="text" name="content" value="{{inputValue}}">
    <button type="submit">ADD</button>
</form>

{{/if}}